*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:80%;
    margin-top:10vh;
    margin-bottom: 5vh;
}

.headerLeft{
    width: 50%;
    z-index:2;
}

.headerTitle{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.headerRight{
    width: 50%;
    z-index:1;

}

.background--color{
    background-color: #f5f5f5; 
    min-height: 100vh;  
    display:flex;
    flex-direction: column;
}

.navBar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
    max-width:1500px;
    margin: auto;
    width:100vw;
}


.navLogo{
    display:flex;
    flex-direction:row;
    align-items: center;
    
}


.navRight{
   padding-right: 5vw;
}

.navLeft{
 padding-left: 5vw;
}

.bodyHero{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    max-width: 1500px;
    margin:auto;
    flex: 1;
    width: 100vw;
}

.bodyHeader{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: hidden;
    
}

.bodyResults{
    display:flex;
    flex-direction:row;
}

.body--font{
    font-family: 'Roboto', sans-serif;
}

.header--font-size{
    font-size: 5em;
    font-weight:500;
    margin: 0;
    color:#143601;
    letter-spacing: 0.3px;
}

.header--font-size-smaller{
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    color: #495057;
    margin-top: 15px;
    letter-spacing: 0.6px;
}

.form--formatting{
    display:flex;
    flex-direction:row;
    margin-top:50px;
    margin-bottom:80px;
    
}

.input--style{
    width: 600px;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    padding-left: 8px;
}


.searchSubmitStyle:hover{
    cursor:pointer;
}

.searchSubmitStyle{
    width: 45px;
    height: 45px;
    background-color:#5B7D6C;
    margin:0 0 0 0;
}

.submitButtonStyle{
    border: none;
}

::placeholder{
    font-size: 1.5em;
    padding-left: 5px;
}

.resultsListFormat{
    display:flex;
    flex-direction:row;
    list-style-type: none;
}

.resultStyle{
    display:Flex;
    flex-direction:column;
    
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom:100px;
    margin-right:25px;
   
}

.resultsCardTop{
    width: 350px;
    height: 200px;
    background-color: #CBC286;
    text-align: center
}

.resultsCardBottom{
    width: 350px;
    height:200px;
    background-color:#ffffff;
    padding: 15px;
}
.resultTextGroup{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}

.resultsTitleFont{
    font-weight:900;
    color:#333333;
    letter-spacing:0.25px;
}

.resultsImageSetWidth{
    max-width:100%;
}

.resultsFullRecipeButton{
    height:50px;
    border:none;
    color:white;
    background-color:#538d22;
    font-weight:300;
    letter-spacing:1px;
    width: 90%;
    align-self: center;
}

.resultsFullRecipeButton:hover{
    color:#538d22;
    background-color:white;
    border: 1px solid #538d22; 
    cursor: pointer;
}

.ingredientsListFormat{
    display:flex;
    flex-direction:column;
    list-style-type: none;
}

.displayNone{
    display: none;
}

.justifyRow{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.ingredientTitle{
    padding-bottom:15px;
}

.recipeDetailTitle{
    padding-bottom:15px;
    font-size:2em;
}

.divLeftDetail{
    padding-right: 50px;
    width: 50%;
}

.divRightDetail{
    width: 50%;
}

.stepsTitle{
    padding-top: 15px;
    padding-bottom:15px;
}

.stepsListSpacing{
    padding-bottom:20px;
    font-weight:300;
}

.ingredientsListFontWeight{
    font-weight:300;
    padding-bottom:10px;
}

.footerContainer{
    padding-top:5vh;
    padding-bottom:5vh;
    margin-top: 30vh;
    background-color:#4D774E;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    max-width:1500px;
    margin:auto;
    font-weight:300;
    color: white;
    width: 100vw;
}

.footerLeft{
    width:30%;
    padding-left: 50px;
}

.footerContactContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    padding-right:50px;
}

@media (max-width: 767.98px) { 
    .headerContainer{
        flex-direction:column-reverse;
    }
    .headerLeft{
        width:100%;
    }
    .headerRight{
        width: 100%;
    }

    .bodyHeader{
        justify-content:center;
        align-items:center;
    }

    .footerContainer{
        flex-direction:column;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .footerLeft{
        width:100%;
        padding-left:0;
    }
    .footerContactContainer{
        width:100%;
        padding-right:0;
        padding-top:5vh;
    }
    .resultsListFormat{
        width:100%;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .resultStyle{
        margin-bottom: 25px;
        margin-right: 0;
    }
    .resultsCardTop{
        width: 100%;
    }
    .resultsCardBottom{
        width: 100%;
    }
    .justifyRow{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-left: 0;
        padding-right: 0;
    }
    .divLeftDetail{
        width: 100%;
        padding-right: 0;
        text-align:center;
    }
    .divRightDetail{
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }

}


@media (max-width: 991.98px) { 

 }


@media (max-width: 1199.98px) { 

}