*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background--color{
    background-color: #f5f5f5; 
    min-height: 100vh;  
}

.navBar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
}

.navLogo{
    display:flex;
    flex-direction:row;
    align-items: center;
    padding-left: 100px;
}


.navRight{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right: 100px;
}

.bodyHero{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:15vh;
    
}

.bodyHeader{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.bodyResults{
    display:flex;
    flex-direction:row;
}

.body--font{
    font-family: 'Roboto', sans-serif;
}

.header--font-size{
    font-size: 5em;
    font-weight:900;
    margin: 0;
}

.header--font-size-smaller{
    font-size: 2em;
    font-weight: 300;
    margin: 0;
}

.form--formatting{
    display:flex;
    flex-direction:row;
    margin-top:50px;
    margin-bottom:80px;
    
}

.input--style{
    width: 600px;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    padding-left: 8px;
}


.searchSubmitStyle:hover{
    cursor:pointer;
}

.searchSubmitStyle{
    width: 45px;
    height: 45px;
    background-color:#5B7D6C;
    margin:0 0 0 0;
}

.submitButtonStyle{
    border: none;
}

::placeholder{
    font-size: 1.5em;
    padding-left: 5px;
}

.resultsListFormat{
    display:flex;
    flex-direction:row;
    list-style-type: none;
}

.resultStyle{
    display:Flex;
    flex-direction:column;
    
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom:100px;
    margin-right:25px;
   
}

.resultsCardTop{
    width: 350px;
    height: 200px;
    background-color: #CBC286;
    text-align: center
}

.resultsCardBottom{
    width: 350px;
    height:200px;
    background-color:#ffffff;
    padding: 15px;
}
.resultTextGroup{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}

.resultsTitleFont{
    font-weight:500;
    font-size:1.5em;
}

.resultsImageSetWidth{
    max-width:100%;
}

.resultsFullRecipeButton{
    height:50px;
    border:none;
    color:white;
    background-color:#863438;
    font-weight:300;
    letter-spacing:1px;
}